# Python Strings

Strings are considered a datatype.  Strings are a sequence of characters which can be stored either as a constant or within anvariable.  You must enclose strings in quotation marks for the data to recognized as a string.  

Shown below are some of the most used string methods. Hence above are the very important techniques or functions of Strings in Python. Some of the examples were referred from [Python Strings](https://www.gangboard.com/blog/python-string/).

### For example, declaring a string in python:

In [ ]:
# Declaring a string variable
string = "This is a python tutorial"
print(string)

This is a python tutorial

In [ ]:
print(type(string))

<class 'str'>

## Escape sequence

In Python strings, the backslash " " is a special character, also called the "escape" character. It is used in representing certain whitespace characters: 
- "\t" is a tab, 
- "\n" is a new line, and "\r" is a carriage return. 
- "\\ \\" is the literal backslash character.

In [1]:
# This is an escape sequence.
string = "This is a \"Google Colab\" python notebook"
print(string)

This is a "Google Colab" python notebook

## Accessing a character in the String by an Index

To access a single character in a String, we use the index value.   The index is order the characters are in the sting.  To access a character all you have to do is just place the number (index value) inside the pair of square brackets along with the name of the string.

In [2]:
string = "Python"
print(string[2])

t

In [3]:
print(string[5])

n

## Slicing a string

sometime you want to access a set f characters within a string.  Slicing a string helps to get a set of characters, a sub-string, from a string.  Below are some slicing examples that are useful.

In [4]:
string = "programming"
string

'programming'

**Getting  one character of the string**

In [5]:
print(string[0:1])

p

**Getting the first three characters from the string**

In [6]:
print(string[0:3])

pro

**Getting the first three characters from the string (Alternate)**

In [7]:
print(string[:3])

pro

**Getting the last three characters from the string**

In [8]:
print(string[-3:])

ing

**Getting all characters but excluding three first characters from the string**

In [9]:
print(string[3:])

gramming

**Getting all characters but excluding the last three characters from the string**

In [10]:
print(string[:-3])

programm

**Reversing all the characters in a given string**

In [11]:
print(string[::-1])

gnimmargorp

**Alternative to printing all characters in a string**

In [12]:
print(string[::])

programming

## Splitting a string

Sometimes splitting a string is a handy option because it is one of the easiest ways to convert a string into a list.   See the the *Python Lists* notebook for more information on lists.

In [13]:
String = "Computer Programming"
String

'Computer Programming'

In [14]:
type(String)

str

In [15]:
list = String.split()
list

['Computer', 'Programming']

In [16]:
type(list)

list

## Replacing a string

The Replace function in python is one of the best function that can be applied to strings. For example, shown below is a string "Money" we need to replace the dollar and the comma sign and this can be done as shown below.

In [19]:
Money = '$113,678'
print(Money)
print("===========================")
print(type(Money))

$113,678
===========================
<class 'str'>

In [20]:
Money = Money.replace('$', '')
Money

'113,678'

In [21]:
Money = Money.replace(',', '')
Money

'113678'

## Converting strings to integers

There are other data types in Python like integers.  If you know a string only contains numbers, then can convert form a string to a numerical data type.  In the following example, we convert the money data type to an integer.

*Note: Taking a sting and removing unwanted character and then converting to a number to use later in your program is a common strategy when programming.  We will discuss strategies and lagorithms later in the semester*

In [22]:
Money = int(Money)
print(Money)
print("===========================")
print(type(Money))

113678
===========================
<class 'int'>

## The Join method

The join function is python is used to join the string according to the specified pattern.

In [23]:
String = "Python Programming is fun"
String

'Python Programming is fun'

In [25]:
# Joins a space with each character in the string
String = " ".join(String)
String

'P   y   t   h   o   n       P   r   o   g   r   a   m   m   i   n   g       i   s       f   u   n'

## Capitalize

The capitalize function capitalizes the first character in the word or a string.

In [26]:
string = "programming"
string

'programming'

In [27]:
string = string.capitalize()
string

'Programming'

## The Find method

The find method returns the index of the given substring position. If the value is not found it returns, -1.

In [28]:
string = "programming"
string

'programming'

In [29]:
print(string.find('p'))

0

In [30]:
print(string.find('t'))

-1

## The Strip method

The strip function strips or removes the white spaces both from the starting and the ending of a string.

In [31]:
string = "     programming is easy    "
string

'     programming is easy    '

In [32]:
print(string.strip())

programming is easy