# Python Tuples

A tuple is used to group together related data such as a dog name, height, weight, breed, and color (I love dogs). A tuple comprises several values separated by commas.  Below are some exmaple of using tuples.  I referred to some examples from[ Python Tuples](https://docs.python.org/3/tutorial/datastructures.html).

## Creating a tuple

A tuple can be created by enclosing the values with a pair of brackets and separated by commas for instance:

**Let us create a tuple called "my_tuple", and put in some values including both string and integer data this can be done as shown below:**

In [1]:
# Creating a tuple and storing the values
my_tuple = ("Today's", "Date", "Is", 21, "January", 2022)
print(my_tuple)

("Today's", 'Date', 'Is', 21, 'January', 2022)

In [2]:
print(type(my_tuple))

<class 'tuple'>

## Access values of a tuple

The values of tuples can be accessed by their index to get the value.  Append to the name of the tuple the index value (number) inside the pair of square brackets.

In [4]:
# Accessing the values of a tuple
print(my_tuple[2])

Is

In [5]:
print(my_tuple[5])

2022

## Nest or combine tuples

Placing the one tuple next to the newly created tuple separated by a comma will *nest* two or more tuples.

In [6]:
# Nesting two tuples as one tuple
another_tuple = ("And", "its", "Thursday")
print(another_tuple)

('And', 'its', 'Thursday')

In [7]:
nest_tuple = my_tuple, another_tuple
print(nest_tuple)

(("Today's", 'Date', 'Is', 21, 'January', 2022), ('And', 'its', 'Thursday'))

## Tuples are immutable!

Immutable values are unchangeable.  Mutable values are changeable. Once a tuple is created we can never change their values.  If you want to change values use a list.  See the other notebook on lists.

In [8]:
# Tuples are immutable in nature
print(my_tuple[0])

Today's

In [9]:
# Changing the value of the 0th index to "Hi"
my_tuple[0] = ("Hi")
print(tuple)

TypeError: 'tuple' object does not support item assignment

## Looping over a tuple

We discuss looping in another notebook.  But using a looping construct we can iterate through the elements of a tuple.

In [12]:
my_tuple = ("Today's", "Date", "Is", 21, "January", 2022)
print(my_tuple)

("Today's", 'Date', 'Is', 21, 'January', 2022)

In [13]:
for i in my_tuple:
    print(i)

Today's
Date
Is
21
January
2022

## Deleting a tuple

What happens if you try to remove an element form a tuple?  This would cause an error, because you are trying to *change* the tuple but they are immutable (see above). But **you can delete the tuple completely**.

In [17]:
# Deleting an entire tuple using del
my_tuple = ("Today's", "Date", "Is", 21, "January", 2022)
print(my_tuple)

("Today's", 'Date', 'Is', 21, 'January', 2022)

In [18]:
del my_tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

## Count method

The count method returns the number of times a value has appeared in a tuple.

In [19]:
# Counting the number of times a value has appeared in the tuple
my_tuple = ("Today's", "Date", "Is", 21, "January", 2022, "And", "The", "Day", "Is", "Friday")
print(my_tuple)

("Today's", 'Date', 'Is', 21, 'January', 2022, 'And', 'The', 'Day', 'Is', 'Friday')

In [21]:
print(my_tuple.count("Is"))

2

In [22]:
print(my_tuple.count(21))

1

## Length of tuple

How can we know how many elements are in a tuple.  We can use the len() method

In [23]:
my_tuple = ("Today's", "Date", "Is", 21, "January", 2022)
print(len(my_tuple))

6

## Index method

The index method searches for the **first occurrence** of the value, and return its position.

In [28]:
my_tuple = ("Today's", "Date", "Is", 21, "January", 2022)
print(len(my_tuple))

6

In [29]:
print(my_tuple.index("Date"))

1

In [30]:
print(my_tuple.index("Is"))

2

## Testing if a element is in a tuple

The in operator allows us to check if a tuple contains a value.  It will perform the test and return true if the tuple contains the element.  If the tuple doesn't contain the element it will return false.

*See the notebook on decision structures for a understanding of the if-else statement*

In [32]:
# Checking for the values present in the tuple
my_tuple = ("Today's", "Date", "Is", 21, "January", 2022)
print(len(my_tuple))

6

In [35]:
# "January" is an element of the tuple.  The following should return true 
if "January" in my_tuple:
    print(True)
    print(my_tuple.index("January"))
else:
    print(False)

True
4

In [36]:
# "August" is not a element of the tuple.  The following should return false 
if "August" in my_tuple:
    print(True)
    print(my_tuple.index("August"))
else:
    print(False)

False

As seen above "January" is present in position 4 of the tuple, but whereas "August" is not present in the tuple.