# Reviewing Python Fundamentals

## Introduction

This notebook was created by [Jupyter AI](https://github.com/jupyterlab/jupyter-ai) with the following prompt:

> /generate a python notebook reviewing the fundamentals of python

This Jupyter notebook provides a comprehensive review of the fundamentals of Python. It covers topics such as variables and data types, operators, control flow, functions, lists and tuples, dictionaries and sets, strings, file handling, modules and packages, and exception handling. Each section offers an explanation and overview of the respective topic, allowing readers to gain a solid understanding of Python's fundamental concepts.

## Operators

In [ ]:
# Section: Operators

In [1]:
# Arithmetic operators
num1 = 10
num2 = 5

In [2]:
# Addition
result = num1 + num2
print("Addition:", result)

Addition: 15

In [3]:
# Subtraction
result = num1 - num2
print("Subtraction:", result)

Subtraction: 5

In [4]:
# Multiplication
result = num1 * num2
print("Multiplication:", result)

Multiplication: 50

In [5]:
# Division
result = num1 / num2
print("Division:", result)

Division: 2.0

In [6]:
# Modulus
result = num1 % num2
print("Modulus:", result)

Modulus: 0

In [ ]:
# Exponentiation
result = num1 ** num2
print("Exponentiation:", result)

In [ ]:
# Floor Division
result = num1 // num2
print("Floor Division:", result)

In [ ]:

# Comparison operators
num3 = 7
num4 = 7

In [ ]:
# Equal to
result = num3 == num4
print("Equal to:", result)

In [ ]:
# Not equal to
result = num3 != num4
print("Not equal to:", result)

In [ ]:
# Greater than
result = num3 > num4
print("Greater than:", result)

In [ ]:
# Less than
result = num3 < num4
print("Less than:", result)

In [ ]:
# Greater than or equal to
result = num3 >= num4
print("Greater than or equal to:", result)

In [ ]:
# Less than or equal to
result = num3 <= num4
print("Less than or equal to:", result)

In [ ]:

# Logical operators
bool1 = True
bool2 = False

In [ ]:
# Logical AND
result = bool1 and bool2
print("Logical AND:", result)

In [ ]:
# Logical OR
result = bool1 or bool2
print("Logical OR:", result)

In [ ]:
# Logical NOT
result = not bool1
print("Logical NOT:", result)

## Control Flow

In [ ]:
# Control Flow

In [ ]:
# If-else statements
x = 5
if x > 10:
    print("x is greater than 10")
else:
    print("x is not greater than 10")

In [ ]:
# Loops
# For loop
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

In [ ]:
# While loop
count = 0
while count < 5:
    print("Count:", count)
    count += 1

In [ ]:
# Conditional expressions
x = 5
y = 10
max_value = x if x > y else y
print("Max value:", max_value)

## Functions

In [ ]:
def greet(name):
    print(f"Hello, {name}!")

In [ ]:
greet("Alice")
greet("Bob")

In [ ]:
def add_numbers(a, b):
    return a + b

In [ ]:
result = add_numbers(3, 5)
print(result)

In [ ]:
def multiply_numbers(a, b=2):
    return a * b

In [ ]:
result1 = multiply_numbers(4, 3)
print(result1)

In [ ]:
result2 = multiply_numbers(5)
print(result2)

## Lists and Tuples

In [ ]:
# Lists and Tuples

In [ ]:
## Lists

In [ ]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

In [ ]:
# Accessing elements in a list
print(my_list[0])  # Output: 1
print(my_list[2])  # Output: 3

In [ ]:
# Modifying elements in a list
my_list[1] = 10
print(my_list)  # Output: [1, 10, 3, 4, 5]

In [ ]:
# Adding elements to a list
my_list.append(6)
print(my_list)  # Output: [1, 10, 3, 4, 5, 6]

In [ ]:
# Removing elements from a list
my_list.remove(3)
print(my_list)  # Output: [1, 10, 4, 5, 6]

In [ ]:
# Checking if an element is in a list
print(4 in my_list)  # Output: True
print(7 in my_list)  # Output: False

In [ ]:
## Tuples

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

In [ ]:
# Accessing elements in a tuple
print(my_tuple[0])  # Output: 1
print(my_tuple[2])  # Output: 3

In [ ]:
# Checking if an element is in a tuple
print(4 in my_tuple)  # Output: True
print(7 in my_tuple)  # Output: False

## Dictionaries and Sets

In [ ]:
# Dictionaries and Sets

In [ ]:
# Dictionaries are a fundamental data structure in Python that store key-value pairs.
# They are mutable, unordered, and can be nested.

In [ ]:
# Creating a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
# Accessing dictionary values
print(my_dict['name'])  # Output: John

In [ ]:
# Modifying dictionary values
my_dict['age'] = 35
print(my_dict['age'])  # Output: 35

In [ ]:
# Adding new key-value pairs
my_dict['occupation'] = 'Engineer'
print(my_dict)  # Output: {'name': 'John', 'age': 35, 'city': 'New York', 'occupation': 'Engineer'}

In [ ]:
# Removing key-value pairs
del my_dict['city']
print(my_dict)  # Output: {'name': 'John', 'age': 35, 'occupation': 'Engineer'}

In [ ]:
# Checking if a key exists
print('name' in my_dict)  # Output: True

In [ ]:
# Iterating over a dictionary
for key, value in my_dict.items():
    print(key, value)

In [ ]:
# Sets are another data structure in Python that store unique elements.
# They are mutable, unordered, and do not allow duplicate values.

In [ ]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

In [ ]:
# Adding elements to a set
my_set.add(6)
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

In [ ]:
# Removing elements from a set
my_set.remove(3)
print(my_set)  # Output: {1, 2, 4, 5, 6}

In [ ]:
# Checking if an element exists
print(2 in my_set)  # Output: True

In [ ]:
# Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [ ]:
# Union
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

In [ ]:
# Intersection
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

In [ ]:
# Difference
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

## Strings

In [ ]:
string1 = "Hello, World!" 
string2 = 'Hello, World!' 
string3 = """Hello, World!""" 
string_concatenation = string1 + string2 
string_length = len(string1) 
first_char = string1[0]
last_char = string1[-1] 
substring = string1[7:12] 
name = "Alice"
age = 25
formatted_string = f"My name is {name} and I am {age} years old." 
uppercase_string = string1.upper() 
lowercase_string = string1.lower() 
split_string = string1.split(",") 
formatted_string2 = "My name is {} and I am {} years old.".format(name, age) 
print("String 1:", string1)
print("String 2:", string2)
print("String 3:", string3)
print("Concatenated String:", string_concatenation)
print("Length of String 1:", string_length)
print("First Character of String 1:", first_char)
print("Last Character of String 1:", last_char)
print("Substring:", substring)
print("Formatted String:", formatted_string)
print("Uppercase String:", uppercase_string)
print("Lowercase String:", lowercase_string)
print("Split String:", split_string)
print("Formatted String 2:", formatted_string2)

## File Handling

In [ ]:
# File Handling

In [ ]:
# Reading from a file
file_path = "example.txt"  # Specify the path of the file

In [ ]:
try:
    with open(file_path, "r") as file:  # Open the file in read mode
        content = file.read()  # Read the entire content of the file
        print(content)  # Print the content
except FileNotFoundError:
    print("File not found!")  # Handle file not found error

In [ ]:
# Writing to a file
file_path = "output.txt"  # Specify the path of the file

In [ ]:
try:
    with open(file_path, "w") as file:  # Open the file in write mode
        file.write("Hello, World!")  # Write content to the file
    print("File written successfully!")
except:
    print("Error occurred while writing to the file!")  # Handle any errors

## Modules and Packages

In [ ]:
import math
from random import randint
import datetime as dt
from statistics import *
import numpy
from pandas import DataFrame
from sklearn.linear_model import LinearRegression

In [ ]:
print(math.sqrt(25))
print(math.pi)
print(randint(1, 10))
print(dt.date.today())
numbers = [1, 2, 3, 4, 5]
print(mean(numbers))
print(median(numbers))
print(mode(numbers))
array = numpy.array([1, 2, 3, 4, 5])
print(array)
print(numpy.mean(array))
data = {'Name': ['John', 'Emma', 'Peter'], 'Age': [25, 30, 35]}
df = DataFrame(data)
print(df)
model = LinearRegression()
print(model)

## Exception Handling

In [ ]:
try:
    num1 = 10
    num2 = 0
    result = num1 / num2
    print(result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")

In [ ]:
try:
    num1 = 10
    num2 = "0"
    result = num1 / num2
    print(result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
except TypeError:
    print("Error: Invalid operand types.")

In [ ]:
try:
    num1 = 10
    num2 = "0"
    result = num1 / num2
    print(result)
except (ZeroDivisionError, TypeError):
    print("Error: Invalid input.")

In [ ]:
try:
    num1 = 10
    num2 = 2
    result = num1 / num2
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
else:
    print("The result is:", result)

In [ ]:
try:
    num1 = 10
    num2 = 0
    result = num1 / num2
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
finally:
    print("Done.")